
# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Arduino build files
*.hex
*.elf

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Backup files
*~
